
.hidden{
    display: none;
}

body{
    background-color: #2d3436;
    text-align: center;
    color: #ecf0f1;
    padding: 1%;
}

.middle{
    height: 800px;
}

h1{
    font-size: 112px;
    margin-top:13%;
    margin-bottom: 0px;
}

input {
    border: none;
    background: transparent;
    font-size: 22px;
    margin: 3px;
    text-align:center;
    color: #ecf0f1;
    border-bottom: 2px solid #ecf0f1;
}

ul {
    margin-left: 40%;
}

li{
    list-style: none;
    font-size: 20px;
    text-align:left;
    color: #ecf0f1;
}

li:before{
    content:'✔';
    display: inline;
    vertical-align: left;
    padding: 5px;
}

button{
    border: none;
    background: transparent;
    font-size: 22px;
}

img{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

#temp{
    font-weight: 500;
    font-size: 22px;
    padding-left: 93%;
}

#place{
    font-weight: 300;
    font-size: 15px;
    padding-left: 95%;
}

.footer{
    height: auto;
}

#quote{
    margin: 0 auto;
}

#author{
    margin: 5 auto;
}